/* .root {
    "& .MuiDataGrid-renderingZone": {
      "& .MuiDataGrid-row": {
        "&:nth-child(2n)": { 
          backgroundColor: "rgba(235, 235, 235, .7)" 
        }
      }
    }
  } */

.theme--header {
  background-color: #22223b;
  color: azure;
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #4a4e69;
  color: azure;
}
